body {
	color: maroon;
	margin:25px;
}

h1 {
    color: maroon;
	font-size :50px;
	padding-top:10px;
	padding-left:90px;
	text-align:center;
}


.Align
{
    padding-left: 10px;
	display:flex;
	justify-content:center;
}

figure{
	display:flex;
	justify-content:center;
}

